*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
	overflow-x: hidden;
	font-family: "articulat-cf", sans-serif;
	background-color: #F9F5F5;
	width: 100%;
	height: auto;
}




/*		01 ENCABEZADO -----------------------------------*/

header {
	width: 100%;
	height: 80px;
	display: flex;
	position: fixed;
	z-index: 1;
	background-color: rgba(249, 245, 245, 0.4);
	backdrop-filter: blur(10px);
}

/*		caja izquierda ----*/

#logotipo {
	width: 50%;
	height: auto;
	padding: 0% 0% 0% 5%;
	display: flex;
	align-items: center;
}

#logotipo img{
	width: 8rem;
}

/*		caja derecha -------*/

nav {
	width: 50%;
	display: flex;
	height: auto;	
	justify-content: flex-end;
	align-items: center;
}

#menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	list-style: none;
	color: #333333;
}

.linksmenu {
	width: auto;
	margin: 0% 10% 0% 10%;
	font-size: 1.2rem;
	font-weight: 200;
	color: #333333;
}

.linksmenu a {
	width: auto;
	text-decoration: none;
	color: #333333;
}

.linksmenu a:hover{
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

#linksmenutickets {
	width: auto;
	display: flex;
	align-items: center;
	margin: 0% 10% 0% 10%;
	color: #333333;
	padding: 10px 30px;
    border: 1px solid #333333;
    border-radius: 20px;
    background-color: transparent;
	transition: all 0.2s ease;
}

#linksmenutickets p{
	font-size: 1.2rem;
	font-weight: 200
}

#linksmenutickets:hover {
    background-color: #FAFF00;
}

#linksmenutickets a {
	text-decoration: none;
	color: #333333;
}




/*		02 HERO (video) --------------------------------*/

.hero {
    position: relative;
    width: 100%;
    height: 75vh;
    display:flex;
    color: #F9F5F5;
    background-image: url('../Media/hero.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 80px;
}

.textohero {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    color: #F9F5F5;
    font-size: 6rem;
    text-align: left;
    bottom: 0;
    left: 0;
    padding: 4%;
    font-family: articulat-cf, sans-serif;
	font-weight: 800;
	font-style: normal;
}




/*		03 MAIN -------------------------------------*/

.curva1 {
	position: absolute;
	width: 1212px;
	right: 0;
}

h1 {
	font-family: articulat-cf, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3rem;
	color: #333333;
	text-align: right;
	line-height: 1.3;
	padding: 2% 4% 1% 0%;
}

h2 {
    font-family: articulat-cf, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    color: #333333;
    text-align: center; 
    padding: 0% 4% 0% 0%;
    margin: 0; 
}

.alinearicono {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.asterisco {
    margin-right: 15px; 
    height: 1.2rem; 
}

.patata1 {
	position: absolute;
	right: 0;
	width: 427px;
	padding-top: 30px;
}

.texto1 {
	font-family: articulat-cf, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 3rem;
	color: #333333;
	line-height: 1.3;
	padding-top: 180px;
	padding-left: 100px;
}

.botonflecha {
	height: 1.9rem;
	margin-left: 15px;
}

.texto2 {
	font-family: articulat-cf, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 3rem;
	line-height: 1.3;
	color: #333333;
	text-align: right;
	padding-top: 100px;
	padding-right: 100px;
	padding-bottom: 60px;
}

.alinearicono2 {
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

#linksmenutickets2 {
	width: auto;
	display: flex;
	align-items: center;
	margin: 0px 20px 0px 0px;
	color: #333333;
	padding: 7px 30px; 
    border: 1px solid #333333; 
    border-radius: 20px; 
    background-color: transparent;
	transition: all 0.2s ease;
}

#linksmenutickets2 p{
	font-size: 1.2rem;
	font-weight: 200
}

#linksmenutickets2:hover {
    background-color: #FAFF00;
}

#linksmenutickets2 a {
	text-decoration: none;
	color: #333333;
}




/*		04 _ FOOTER ------------------------------------*/

.cosoredondo {
	display: flex;
	width: 427px;
}

.footer-coso {
	display: flex;
	flex-direction: column;
}

footer {
	background-color: white;
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
}

.curva2 {
	width: 10%;
	height: auto;
}

#enlaces {
	display: flex;
	width: 30%;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	list-style: none;
	color: #333333;
	font-size: 2.3rem;
	font-weight: 200;
	padding: 30px 0px 80px 100px;
	line-height: 1.4;
}

#enlaces a {
	width: auto;
	text-decoration: none;
	color: #333333;
}

#enlaces a:hover{
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

#info {
	display: flex;
	width: 54%;
	align-items: flex-end;
	justify-content: space-evenly;
	flex-direction: column;
	list-style: none;
	color: #333333;
	font-size: 1.4rem;
	font-weight: 200;
	padding: 30px 0px 80px 10px;
	line-height: 1.3;
}

#info img{
	width: 20px;
}

.alinearicono3 {
	display: inline-flex;
}

.alinearicono3 p{
	padding-right: 30px;
	text-align: right;
}

.redes {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.redes img {
  width: 55px;
  transition: transform 0.15s ease;
}

.redes img:hover {
  transform: scale(1.3);
}

.redes li{
	padding: 0px 20px 0px 20px;
}

.derechos {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1rem;
	font-weight: 200;
	padding: 20px 0px 40px 0px;
}





/*		07 MEDIAQUERIE ------------------------------------*/

@media screen and (max-width: 880px) {
	


	/*		01 _ ENCABEZADO ----------------------*/

	header {
		flex-direction: column;
		padding-top: 5%;
		width: 100%;
		height: auto;
		position: relative;
	}


/*		caja izquierda --------*/

	#logotipo {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 0% 0% 2% 0%;
	}

	#logotipo img {
		height: auto;
	}


/*		caja derecha ----------*/

	nav {
		width: 100%;
	}

	#menu {
		display: flex;
		flex-direction: column;
	}

	.linksmenu a {
		font-size: 1.3rem;
		line-height: 4rem;
		padding-bottom: 0%;
	}

	#linksmenutickets {
		width: auto;
		margin-top: 2%;
		margin-bottom: 6%;
}


/*		02 _ HERO -------------------------*/
	
	.textohero {
		font-size: 4rem;
		text-align: center;
		width: 100%;
	    padding: 4%;
	    align-content: center;
	    align-items: center;
	    bottom: 50px;
	}

	video {
		width: 200%;
		padding-top: 0px;
	}

	hero {
    	height: 50vh;
    	padding-top: 0px;
	}


/*		03 _ MAIN ---------------------------*/

	.patata1 {
		display: none;
	}

	.curva1 {
		display: none;
	}

	h1 {
		font-size: 2rem;
		text-align: center;
		width: 100%;
		padding: 6% 4% 2% 4%;;
	}

	h2 {
		font-size: 1.4rem;
    	text-align: center;
    	padding: 3% 20% 0% 20%;
   	 	margin: 0;
   	 	line-height: 1.2;
	}

	.asterisco {
    	margin-right: 8px; 
    	height: 1rem; 
	}

	.alinearicono {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	}

	.asterisco {
    	margin-right: 0px; 
    	height: 1.2rem;
	}

	.texto1 {
		font-size: 1.9rem;
		line-height: 1.3;
		padding-top: 60px;
		padding-left: 30px;
		padding: 60px 30px 10px 30px;
	}

	.botonflecha {
		height: 1.3rem;
		margin-left: 15px;
	}

	.texto2 {
		font-size: 1.9rem;
		line-height: 1.15;
		padding: 45px 30px 30px 30px;
	}

	#linksmenutickets2 {
		margin: 0px 15px 0px 0px;
		padding: 6px 23px; 
	}

	#linksmenutickets2 p{
		font-size: 1rem;
	}


/*		04 _ FOOTER ---------------------------*/

	.curva2 {
		height: auto;
	}

	#enlaces {
		justify-content: space-evenly;
		font-size: 1.4rem;
		padding: 20px 0px 10px 10px;
	}

	#info {
		width: 54%;
		justify-content: space-evenly;
		font-size: 0.9rem;
		padding: 30px 0px 20px 10px;
		line-height: 1.3;
	}

	#info img{
		width: 12px;
	}

	#info li{
		padding: 10px;
	}

	.alinearicono3 p{
		padding-right: 15px;
		text-align: right;
	}

	.redes {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.redes img {
	  	width: 30px;
	  	transition: transform 0.15s ease;
	}

	.redes img:hover {
	  	transform: scale(1.3);
	}

	.redes li{
		padding: 0px 10px 0px 10px;
	}

	.derechos {
		width: 100%;
		justify-content: center;
		font-size: 0.8rem;
		padding: 20px 0px 40px 0px;
		text-align: center;
	}

}



